In [20]:
import pandas as pd
train = pd.read_csv('data/score_train.csv')
test = pd.read_csv('data/score_test.csv')
train.head()

,Delay_from_due_date,Num_of_Delayed_Payment,Num_Credit_Inquiries,Credit_Utilization_Ratio,Credit_History_Age,Payment_of_Min_Amount,Amount_invested_monthly,Monthly_Balance,Credit_Mix,Payment_Behaviour,...,Annual_Income,Num_Bank_Accounts,Num_Credit_Card,Interest_Rate,Num_of_Loan,Monthly_Inhand_Salary,Changed_Credit_Limit,Outstanding_Debt,Total_EMI_per_month,Credit_Score
0,26.0,10.0,5.0,30.358905,200.0,NM,192.341800,321.431503,Good,Low_spent_Small_value_payments,...,36963.89,0.0,4.0,1.0,2.0,2902.324167,6.47,1195.96,46.459114,Standard
1,6.0,17.0,4.0,24.589796,70.0,Yes,53.110239,427.404738,Standard,High_spent_Medium_value_payments,...,34599.80,8.0,4.0,16.0,3.0,3130.316667,16.53,851.37,82.516689,Standard
2,29.0,16.0,6.0,39.456866,14.0,Yes,150.829491,239.039985,Bad,Low_spent_Small_value_payments,...,19531.18,7.0,10.0,25.0,5.0,1679.598333,20.74,3047.42,68.090357,Poor
3,14.0,6.0,2.0,28.368731,245.0,NM,76.721091,948.735499,Good,High_spent_Large_value_payments,...,107774.28,1.0,7.0,10.0,2.0,9142.190000,2.78,937.74,128.762410,Standard
4,9.0,10.0,4.0,25.099529,220.0,No,44.380050,446.726147,Good,High_spent_Medium_value_payments,...,42326.99,0.0,2.0,4.0,4.0,3577.249167,5.97,1233.00,116.618720,Good

In [21]:
test.head()

,Delay_from_due_date,Num_of_Delayed_Payment,Num_Credit_Inquiries,Credit_Utilization_Ratio,Credit_History_Age,Payment_of_Min_Amount,Amount_invested_monthly,Monthly_Balance,Credit_Mix,Payment_Behaviour,Age,Annual_Income,Num_Bank_Accounts,Num_Credit_Card,Interest_Rate,Num_of_Loan,Monthly_Inhand_Salary,Changed_Credit_Limit,Outstanding_Debt,Total_EMI_per_month
0,19.0,20.0,11.0,28.893968,57.0,Yes,126.895309,217.045508,Bad,Low_spent_Small_value_payments,21.0,16644.79,7.0,6.0,24.0,9.0,1547.065833,9.93,3519.49,100.765767
1,6.0,6.0,7.0,34.443437,366.0,No,217.005753,572.710742,Good,Low_spent_Medium_value_payments,22.0,83358.30,5.0,3.0,5.0,3.0,6896.525000,2.66,727.88,169.936005
2,30.0,19.0,8.0,21.970573,210.0,Yes,382.538630,238.883672,Standard,High_spent_Medium_value_payments,33.0,66691.23,8.0,6.0,20.0,4.0,5553.602500,19.78,760.71,213.937948
3,6.0,2.0,0.0,26.872499,201.0,NM,32.920865,441.970871,Good,High_spent_Medium_value_payments,38.0,32875.17,4.0,1.0,8.0,2.0,2657.597500,11.55,122.69,30.868015
4,9.0,17.0,8.0,30.769399,217.0,No,188.753178,313.989310,Standard,High_spent_Small_value_payments,37.0,35851.39,6.0,4.0,5.0,2.0,2762.615833,9.10,926.99,53.519095

In [22]:
train.isna().sum()

Delay_from_due_date         0
Num_of_Delayed_Payment      0
Num_Credit_Inquiries        0
Credit_Utilization_Ratio    0
Credit_History_Age          0
Payment_of_Min_Amount       0
Amount_invested_monthly     0
Monthly_Balance             0
Credit_Mix                  0
Payment_Behaviour           0
Age                         0
Annual_Income               0
Num_Bank_Accounts           0
Num_Credit_Card             0
Interest_Rate               0
Num_of_Loan                 0
Monthly_Inhand_Salary       0
Changed_Credit_Limit        0
Outstanding_Debt            0
Total_EMI_per_month         0
Credit_Score                0
dtype: int64

In [23]:
test.isna().sum()

Delay_from_due_date         0
Num_of_Delayed_Payment      0
Num_Credit_Inquiries        0
Credit_Utilization_Ratio    0
Credit_History_Age          0
Payment_of_Min_Amount       0
Amount_invested_monthly     0
Monthly_Balance             0
Credit_Mix                  0
Payment_Behaviour           0
Age                         0
Annual_Income               0
Num_Bank_Accounts           0
Num_Credit_Card             0
Interest_Rate               0
Num_of_Loan                 0
Monthly_Inhand_Salary       0
Changed_Credit_Limit        0
Outstanding_Debt            0
Total_EMI_per_month         0
dtype: int64

In [24]:
train_score = train.pop('Credit_Score')

In [27]:
# one-hot encoding
print(train.shape, test.shape)
combined = pd.concat([train, test])
combined = pd.get_dummies(combined)
train = combined[:len(train)]
test = combined[-len(test):]
print(train.shape, test.shape)

from sklearn.model_selection import train_test_split
train_input, val_input, train_target, val_target = train_test_split(train, train_score)

(4198, 29) (1499, 29)
(4198, 29) (1499, 29)

In [28]:
from sklearn.ensemble import RandomForestClassifier
rf = RandomForestClassifier()
rf.fit(train_input, train_target)
print(rf.score(train_input, train_target), rf.score(val_input, val_target))

1.0 0.7047619047619048

In [34]:
pred = rf.predict(test)
submit = pd.DataFrame({'pred':pred})
submit.head()

       pred
0      Poor
1      Good
2  Standard
3      Good
4  Standard

In [35]:
submit.to_csv('7_multiple_classification_credit.csv', index=False)