In [24]:
import pandas as pd
train = pd.read_csv('data/drug_train.csv')
test = pd.read_csv('data/drug_test.csv')
train.head()

   Age Sex      BP Cholesterol  Na_to_K   Drug
0   70   M    HIGH        HIGH    9.849  drugB
1   36   M     LOW      NORMAL   11.424  drugX
2   23   F    HIGH        HIGH   25.355  DrugY
3   40   F  NORMAL        HIGH   10.103  drugX
4   45   M     LOW      NORMAL   10.017  drugX

In [25]:
test.head()

   Age Sex      BP Cholesterol  Na_to_K
0   74   F     LOW        HIGH   20.942
1   65   M    HIGH      NORMAL   34.997
2   58   F     LOW        HIGH   38.247
3   34   M  NORMAL        HIGH   22.456
4   59   M    HIGH        HIGH   13.935

In [26]:
train.isna().sum()

Age            0
Sex            0
BP             0
Cholesterol    0
Na_to_K        0
Drug           0
dtype: int64

In [27]:
test.isna().sum()

Age            0
Sex            0
BP             0
Cholesterol    0
Na_to_K        0
dtype: int64

In [28]:
train.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 100 entries, 0 to 99
Data columns (total 6 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   Age          100 non-null    int64
 1   Sex          100 non-null    object
 2   BP           100 non-null    object
 3   Cholesterol  100 non-null    object
 4   Na_to_K      100 non-null    float64
 5   Drug         100 non-null    object
dtypes: float64(1), int64(1), object(4)
memory usage: 4.8+ KB

In [29]:
train_drug = train.pop('Drug')
combined = pd.concat([train, test])

# LabelEncoding
from sklearn.preprocessing import LabelEncoder
le = LabelEncoder()
combined['Sex'] = le.fit_transform(combined['Sex'])
le = LabelEncoder()
combined['BP'] = le.fit_transform(combined['BP'])
le = LabelEncoder()
combined['Cholesterol'] = le.fit_transform(combined['Cholesterol'])

le = LabelEncoder()
train_drug = le.fit_transform(train_drug) # answers need decoding

train = combined[:len(train)]
test = combined[:len(test)]

In [30]:
train.head()

   Age  Sex  BP  Cholesterol  Na_to_K
0   70    1   0            0    9.849
1   36    1   1            1   11.424
2   23    0   0            0   25.355
3   40    0   2            0   10.103
4   45    1   1            1   10.017

In [32]:
from sklearn.model_selection import train_test_split
train_input, val_input, train_target, val_target = train_test_split(train, train_drug)

from sklearn.ensemble import RandomForestClassifier
rf = RandomForestClassifier()
rf.fit(train_input, train_target)
print(rf.score(train_input, train_target), rf.score(val_input, val_target))

1.0 0.72

In [34]:
pred = rf.predict(test)
# decoding
pred = le.inverse_transform(pred)
submit = pd.DataFrame({'pred':pred})
submit.head()

    pred
0  drugA
1  drugX
2  DrugY
3  drugX
4  drugX

In [35]:
submit.to_csv('7_multiple_classification.csv',index=False)