In [1]:
# two-way ANOVA
import pandas as pd
df = pd.read_csv('data/tomato2.csv')
df.head()

  비료유형  물주기  수확량
0    A    1  514
1    A    1  480
2    A    1  507
3    A    2  452
4    A    2  526

In [5]:
print(df['비료유형'].unique())
print(df['물주기'].unique())

['A' 'B' 'C']
[1 2 3 4]

In [ ]:
# normality
from scipy import stats
print(stats.shapiro())
print(stats.shapiro())

In [4]:
from statsmodels.stats.anova import anova_lm
from statsmodels.formula.api import ols
model = ols('수확량 ~ C(비료유형) * C(물주기)', df).fit()
anova_lm(model)

                  df        sum_sq      mean_sq         F    PR(>F)
C(비료유형)          2.0   5251.722222  2625.861111  3.184685  0.059334
C(물주기)           3.0   9057.000000  3019.000000  3.661490  0.026460
C(비료유형):C(물주기)   6.0   4271.833333   711.972222  0.863491  0.535426
Residual        24.0  19788.666667   824.527778       NaN       NaN