In [1]:
# independence test

# turn the given data to a crosstab
import pandas as pd
df = pd.DataFrame({'registered':[50, 30], 'unregistered':[60,40]}, index=['bigdata', 'information'])
df

             registered  unregistered
bigdata              50            60
information          30            40

In [2]:
from scipy import stats
stats.chi2_contingency(df)

Chi2ContingencyResult(statistic=0.03535714285714309, pvalue=0.8508492527705047, dof=1, expected_freq=array([[48.88888889, 61.11111111],
       [31.11111111, 38.88888889]]))

In [3]:
# when its raw data is given,
df = pd.DataFrame({'camp':['bigdata']*110+['information']*70, 
                   'status':['registered']*50+['unregistered']*60+['registered']*30+['unregistered']*40})
df.head()

      camp      status
0  bigdata  registered
1  bigdata  registered
2  bigdata  registered
3  bigdata  registered
4  bigdata  registered

In [5]:
df = pd.crosstab(df['camp'], df['status'])
df

status       registered  unregistered
camp
bigdata              50            60
information          30            40

In [6]:
stats.chi2_contingency(df)

Chi2ContingencyResult(statistic=0.03535714285714309, pvalue=0.8508492527705047, dof=1, expected_freq=array([[48.88888889, 61.11111111],
       [31.11111111, 38.88888889]]))