<strong>Goodness of Fit test</strong>
<ul>
    <li>H0 : data follows a given distribution</li>
    <li>H1 : data does not follow a given distribution</li>
</ul>

In [1]:
# As an example, consider a test to see if icecream flavor preference follows a certain value
import numpy as np
observed = ([120, 100, 80])
expected = np.array([0.5, 0.35, 0.15]) * 300

from scipy import stats
stats.chisquare(observed, expected)

Power_divergenceResult(statistic=np.float64(33.46031746031746), pvalue=np.float64(5.42231048734203e-08))

Reject H0 and conclude that the preference of icecream flavor does not follow the given distribution.

<strong>Goodness of Fit test</strong>
<ul>
    <li>H0 : data follows a given distribution</li>
    <li>H1 : data does not follow a given distribution</li>
</ul>

In [4]:
# create a crosstab with given data
# male : like (80), dislike (30), female : like (90), dislike (10)
import pandas as pd
df = pd.DataFrame({'like':[80, 90], 'dislike':[30, 10]}, index=['male', 'female'])
df

        like  dislike
male      80       30
female    90       10

In [5]:
from scipy.stats import chi2_contingency
chi2_contingency(df)

Chi2ContingencyResult(statistic=np.float64(9.045792112299468), pvalue=np.float64(0.0026330012530379632), dof=1, expected_freq=array([[89.04761905, 20.95238095],
       [80.95238095, 19.04761905]]))

In [6]:
chi2_contingency(df).expected_freq

array([[89.04761905, 20.95238095],
       [80.95238095, 19.04761905]])

In [7]:
# when raw data are given, which is in the following form :
data = {'gender':['male']*110 + ['female']*100, 'preference':['like']*80+['dislike']*30+['like']*90+['dislike']*10}
df = pd.DataFrame(data)
df

     gender preference
0      male       like
1      male       like
2      male       like
3      male       like
4      male       like
..      ...        ...
205  female    dislike
206  female    dislike
207  female    dislike
208  female    dislike
209  female    dislike

[210 rows x 2 columns]

In [8]:
# turn it into a crosstab
df = pd.crosstab(df['gender'],df['preference'])
df

preference  dislike  like
gender
female           10    90
male             30    80

In [9]:
# and turn it to the chisquare method
chi2_contingency(df)

Chi2ContingencyResult(statistic=np.float64(9.045792112299466), pvalue=np.float64(0.0026330012530379676), dof=1, expected_freq=array([[19.04761905, 80.95238095],
       [20.95238095, 89.04761905]]))