<strong>Homegeneity test</strong>
<ul>
    <li>H0 : all groups have the same distribution</li>
    <li>H1 : not all groups have the same distribution</li>
</ul>

In [1]:
# 1. when a crosstab is given,
import pandas as pd
df = pd.DataFrame({'registered':[50,30], 'unregistered':[50,70]}, index=['statistics','computer'])
df

            registered  unregistered
statistics          50            50
computer            30            70

In [2]:
from scipy import stats
stats.chi2_contingency(df)

Chi2ContingencyResult(statistic=np.float64(7.520833333333334), pvalue=np.float64(0.006098945931214352), dof=1, expected_freq=array([[40., 60.],
       [40., 60.]]))

Given that pvalue < 0.05, reject H0 and conclude that not all groups have the same distriubtion

In [3]:
# 2. when raw data is given,
df = pd.DataFrame({'major':['statistics']*100+['computer']*100, 'status':['registered']*50+['unregistered']*50+['registered']*30+['unregistered']*70})
df

          major        status
0    statistics    registered
1    statistics    registered
2    statistics    registered
3    statistics    registered
4    statistics    registered
..          ...           ...
195    computer  unregistered
196    computer  unregistered
197    computer  unregistered
198    computer  unregistered
199    computer  unregistered

[200 rows x 2 columns]

In [5]:
df = pd.crosstab(df['major'], df['status'])
df

status      registered  unregistered
major
computer            30            70
statistics          50            50

In [6]:
stats.chi2_contingency(df)

Chi2ContingencyResult(statistic=np.float64(7.520833333333334), pvalue=np.float64(0.006098945931214352), dof=1, expected_freq=array([[40., 60.],
       [40., 60.]]))

Reach the same conclusion as before.