In [1]:
import pandas as pd
car = pd.read_csv('data/mtcars.csv')
car.head()

,Unnamed: 0,mpg,cyl,disp,hp,drat,wt,qsec,vs,am,gear,carb
0,Mazda RX4,21.0,6,160.0,110,3.90,2.620,16.46,0,1,4,4
1,Mazda RX4 Wag,21.0,6,160.0,110,3.90,2.875,17.02,0,1,4,4
2,Datsun 710,22.8,4,108.0,93,3.85,2.320,18.61,1,1,4,1
3,Hornet 4 Drive,21.4,6,258.0,110,3.08,3.215,19.44,1,0,3,1
4,Hornet Sportabout,18.7,8,360.0,175,3.15,3.440,17.02,0,0,3,2

In [4]:
from sklearn.preprocessing import MinMaxScaler
mm = MinMaxScaler()
car['qsec_scaled'] = mm.fit_transform(car[['qsec']])
len(car[car['qsec_scaled']>0.5])

9

In [5]:
member = pd.read_csv('data/members.csv')
member.head()

     id   age city    f1  f2    f3    f4         f5  subscribed   views
0  id01   2.0   서울   NaN   0  gold  ENFJ  91.297791  2021-07-16  6820.0
1  id02   9.0   서울  70.0   1   NaN  ENFJ  60.339826  2021-05-12  2534.0
2  id03  27.0   서울  61.0   1  gold  ISTJ  17.252986  2021-03-16  7312.0
3  id04  75.0   서울   NaN   2   NaN  INFP  52.667078  2021-07-21   493.0
4  id05  24.0   서울  85.0   2   NaN  ISFJ  29.269869  2021-03-07  1338.0

In [8]:
# sort df in the descending order in terms of views
member.sort_values(by='views', ascending=False).reset_index(drop=True).head(10)

      id   age city    f1  f2    f3    f4         f5  subscribed    views
0   id06  22.0   서울  57.0   0   vip  INTP  20.129444  2021-09-12  21550.0
1   id56  59.0   대구   NaN   1   vip  ESTJ  73.586397  2021-04-05  19589.0
2   id83  73.0   경기  50.0   1   vip  ENTP  80.138280  2021-09-26  19139.0
3   id32  25.0   부산  64.0   0   vip  ISFJ  13.049921  2021-05-24  17421.0
4  id100  47.0   경기  53.0   0   vip  ESFP  33.308999  2021-02-21  15535.0
5   id10  95.0   서울  74.0   1  gold  ISFP  98.429899  2021-04-03   9992.0
6   id49  75.0   대구  88.0   0  gold  INTP  37.113739  2021-03-31   9737.0
7   id36  68.0   부산  77.0   1  gold  INTP  13.049921  2021-07-20   9713.0
8   id46  93.0   대구   NaN   0  gold  ESTJ  67.886373  2021-05-23   9711.0
9   id21  90.0   부산   NaN   1  gold  ISFP  29.269869  2021-05-03   9690.0

In [10]:
new_member = member.sort_values(by='views', ascending=False).reset_index(drop=True)
print(new_member.loc[10]['views'], new_member.iloc[9]['views'])

9625.0 9690.0

In [13]:
new_member.loc[:10,'views'] = new_member.loc[10]['views']
new_member.head()

      id   age city    f1  f2   f3    f4         f5  subscribed   views
0   id06  22.0   서울  57.0   0  vip  INTP  20.129444  2021-09-12  9625.0
1   id56  59.0   대구   NaN   1  vip  ESTJ  73.586397  2021-04-05  9625.0
2   id83  73.0   경기  50.0   1  vip  ENTP  80.138280  2021-09-26  9625.0
3   id32  25.0   부산  64.0   0  vip  ISFJ  13.049921  2021-05-24  9625.0
4  id100  47.0   경기  53.0   0  vip  ESFP  33.308999  2021-02-21  9625.0

In [15]:
round(new_member[new_member['age']>=80]['views'].mean(), 2)

5665.57

In [39]:
member = pd.read_csv('data/members.csv')
member80 = member.loc[:int(len(member)*0.8),:]['f1']
std_before = member80.std()
member80 = member80.fillna(member80.median())
std_after = member80.std()
round(abs(std_before-std_after), 2)

3.49

In [43]:
# sum of outliers
mean = member['age'].mean()
std = member['age'].std()
member[(member['age']>(mean+1.5*std))|(member['age']<(mean-1.5*std))]['age'].sum()

473.5

In [44]:
member = pd.read_csv('data/members.csv')
member.isna().sum()

id             0
age            0
city           0
f1            31
f2             0
f3            28
f4             0
f5             0
subscribed     0
views          4
dtype: int64

In [45]:
# the name of a column which has the most missing values
member.isna().sum().idxmax()

'f1'

In [18]:
member = member.dropna()
member70 = member.loc[:int(len(member)*0.7),:]
int(member70['f1'].quantile(0.25))

57

In [19]:
df = pd.read_csv('data/data4-1.csv')
Q3 = df['age'].quantile(0.75)
Q1 = df['age'].quantile(0.25)
int(abs(Q3-Q1))

50

In [21]:
df = pd.read_csv('data/data5-1.csv')
df.columns

Index(['시도명', '시군구명', '종량제봉투종류', '종량제봉투처리방식', '종량제봉투용도', '종량제봉투사용대상', '1ℓ가격',
       '1.5ℓ가격', '2ℓ가격', '2.5ℓ가격', '3ℓ가격', '5ℓ가격', '10ℓ가격', '20ℓ가격', '30ℓ가격',
       '50ℓ가격', '60ℓ가격', '75ℓ가격', '100ℓ가격', '120ℓ가격', '125ℓ가격', '관리부서명',
       '관리부서전화번호', '데이터기준일자', '제공기관코드', '제공기관명'],
      dtype='object')

In [24]:
df_sifted = df[(df['종량제봉투종류']=='규격봉투')&(df['종량제봉투용도']=='음식물쓰레기')&(df['2ℓ가격']!=0)]
round(df_sifted['2ℓ가격'].mean())

118