<strong>Goodness of fit test</strong> aims to evaluate how close a distribution of data to a reference distribution
<br>Do the goodness of fit test w.r.t 250 cars, manufactured by five car companies from A to E
<ol>
    <li>H0 : preference takes suggested values: A(0.3), B(0.15), C(0.1), D(0.25), and E(0.2)</li>
    <li>H1 : at least one value differs from the suggested probabilites</li>
</ol>

In [ ]:
# Do the goodness of fit test w.r.t 250 cars, manufactured by five car companies from A to E

In [4]:
import numpy as np
observed = np.array([90,30,35,55,40])
expected = np.array([0.3, 0.15, 0.1, 0.25, 0.2])*250

In [5]:
expected.sum()

np.float64(250.0)

In [6]:
from scipy.stats import chisquare
chisquare(observed, expected)

Power_divergenceResult(statistic=np.float64(11.4), pvalue=np.float64(0.02241796856505753))

<strong>Test of Independece</strong> aims to check relation between variables (dependent or independent)
<br>Do this test to see if there is a relation between gender and sales of three products.
<ol>
    <li>H0 : No relation between variables</li>
    <li>H1 : there exits a relation between variables</li>
</ol>

In [15]:
# create a crosstab
import pandas as pd
female = [269, 83, 215]
male = [155, 57, 181]
df = pd.DataFrame([female, male], columns=['prod1','prod2','prod3'], index=['female','male'])
df

        prod1  prod2  prod3
female    269     83    215
male      155     57    181

In [16]:
from scipy.stats import chi2_contingency
# this method get the crosstab as input
chi, p, df, expected = chi2_contingency(df, correction=False)
print(chi, p)

7.094264414804222 0.028807134195296135

<strong>Test of Homogeneity</strong> aims to check whether more than two groups have the same distribution, in other words, whether their distribution is homogenious.
<br>Do this test to see if the quality of products is consistent with time
<ol>
    <li>H0 : the quality of products is invariant regardless of time</li>
    <li>H1 : the quality of products varies with time</li>
</ol>

In [19]:
# create a crosstab
print(np.tile(['day','evening','night'],1))
print(np.tile(['day','evening','night'],2))

['day' 'evening' 'night']
['day' 'evening' 'night' 'day' 'evening' 'night']

In [20]:
print(np.repeat(['fault','normal'],1))
print(np.repeat(['fault','normal'],2))

['fault' 'normal']
['fault' 'fault' 'normal' 'normal']

In [24]:
# no difference when it comes to an 1D array, but you can do this with np.tile
print(np.tile(['day','evening','night'],(2,1)))

[['day' 'evening' 'night']
 ['day' 'evening' 'night']]

In [28]:
time = np.tile(['day','evening','night'],2)
count = np.array([905, 890, 870, 45, 55, 70])
status = np.repeat(['fault','normal'],3)
data = {'time':time, 'status':status, 'count':count}
dTable = pd.crosstab(index=data['status'], columns=data['time'], values=data['count'], aggfunc=sum, margins=True, margins_name='total')
dTable

C:\Users\shiny\AppData\Local\Temp\ipykernel_26580\390725232.py:5: FutureWarning: The provided callable <built-in function sum> is currently using DataFrameGroupBy.sum. In a future version of pandas, the provided callable will be used directly. To keep current behavior pass the string "sum" instead.
  dTable = pd.crosstab(index=data['status'], columns=data['time'], values=data['count'], aggfunc=sum, margins=True, margins_name='total')
C:\Users\shiny\AppData\Local\Temp\ipykernel_26580\390725232.py:5: FutureWarning: The provided callable <built-in function sum> is currently using DataFrameGroupBy.sum. In a future version of pandas, the provided callable will be used directly. To keep current behavior pass the string "sum" instead.
  dTable = pd.crosstab(index=data['status'], columns=data['time'], values=data['count'], aggfunc=sum, margins=True, margins_name='total')
C:\Users\shiny\AppData\Local\Temp\ipykernel_26580\390725232.py:5: FutureWarning: The provided callable <built-in function sum> is currently using DataFrameGroupBy.sum. In a future version of pandas, the provided callable will be used directly. To keep current behavior pass the string "sum" instead.
  dTable = pd.crosstab(index=data['status'], columns=data['time'], values=data['count'], aggfunc=sum, margins=True, margins_name='total')

col_0   day  evening  night  total
row_0
fault   905      890    870   2665
normal   45       55     70    170
total   950      945    940   2835

In [33]:
chi, p, df, expected = chi2_contingency(dTable)
print(chi, p)

6.233920047684764 0.3975030174967241