Goodness of fit test :
<br>In regard to cold data, test if its distribution is the same to the suggested one, which reads :
<ul>
    <li>(1) headache : 0.05</li>
    <li>(2) sleepiness : 0.1</li>
    <li>(3) stomachache : 0.05</li>
    <li>(4) no sideeffects : 0.18</li>
</ul>

In [1]:
import pandas as pd
cold = pd.read_csv('data/cold.csv', encoding='euc-kr')
cold.head()

   코드
0   4
1   2
2   4
3   4
4   4

In [5]:
# 1. calculate their ratios
cold_count = cold['코드'].value_counts().reset_index()
cold_count

   코드  count
0   4    199
1   2     24
2   1     15
3   3     15

In [19]:
# add a column of ratios
cold_count['ratio'] = np.round(cold_count['count'] / cold_count['count'].sum(), 3)
cold_count.head()

   코드  count  ratio
0   4    199  0.787
1   2     24  0.095
2   1     15  0.059
3   3     15  0.059

In [20]:
# print the ratio of the code 4
cold_count[cold_count['코드']==4]['ratio'].values

array([0.787])

In [26]:
# do the chisquare test
# note that you need to compare frequencies, not ratios
import numpy as np
observed = cold_count['count'].values
expected = np.array([0.15,0.3,0.15,0.4])*253

from scipy.stats import chisquare
chisquare(observed, expected)

Power_divergenceResult(statistic=np.float64(806.2457180500661), pvalue=np.float64(1.9128381837098984e-174))

Given that pvalue < 0.05, reject the null hypothesis and conclude that the distribution of cold data differs from the suggested one.

In [27]:
st, p = chisquare(observed, expected)
p

np.float64(1.9128381837098984e-174)