In [2]:
import statsmodels.api as sm
import pandas as pd

mtcars = sm.datasets.get_rdataset('mtcars').data
mtcars.head()

,mpg,cyl,disp,hp,drat,wt,qsec,vs,am,gear,carb
rownames,,,,,,,,,,,
Mazda RX4,21.0,6,160.0,110,3.90,2.620,16.46,0,1,4,4
Mazda RX4 Wag,21.0,6,160.0,110,3.90,2.875,17.02,0,1,4,4
Datsun 710,22.8,4,108.0,93,3.85,2.320,18.61,1,1,4,1
Hornet 4 Drive,21.4,6,258.0,110,3.08,3.215,19.44,1,0,3,1
Hornet Sportabout,18.7,8,360.0,175,3.15,3.440,17.02,0,0,3,2

In [4]:
# make a regression model to classify cars given mpg and am into two categories.
# here consider the variable vs as a response variable
# GLM (General Linear Model)
model = sm.GLM(mtcars['vs'], sm.add_constant(mtcars[['mpg','am']]), family=sm.families.Binomial()).fit()
print(model.summary())

                 Generalized Linear Model Regression Results
==============================================================================
Dep. Variable:                     vs   No. Observations:                   32
Model:                            GLM   Df Residuals:                       29
Model Family:                Binomial   Df Model:                            2
Link Function:                  Logit   Scale:                          1.0000
Method:                          IRLS   Log-Likelihood:                -10.323
Date:                Mon, 25 Nov 2024   Deviance:                       20.646
Time:                        16:56:50   Pearson chi2:                     20.2
No. Iterations:                     6   Pseudo R-squ. (CS):             0.5159
Covariance Type:            nonrobust
==============================================================================
                 coef    std err          z      P>|z|      [0.025      0.975]
------------------------------------------------------------------------------
const        -12.7051      4.625     -2.747      0.006     -21.770      -3.640
mpg            0.6809      0.252      2.698      0.007       0.186       1.176
am            -3.0073      1.599     -1.880      0.060      -6.142       0.128
==============================================================================

Given that the coefficient of mpg is 0.6809, when mpg increases by one unit, the odds of vs=1 increases by exp(0.6809)&#126;1.968. 
<br>From the same reasoning, consering that the coefficient of am is -3.0073, the odd of vs=1 does by exp(-3.0073)&#126;0.05. Namely, as for am=0, the odds of vs=1 decreases by 95%, compared to am=1.